<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static\css.css" href="Osnova" rel='stylesheet' type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Lili</title>
    <style>
    .shadow-4:hover {
        box-shadow:0 0 6px 6px #555; 
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .shadow-4 {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    #p1 {
        font-size: 25px;
    }

    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 300px;
        border: 10px solid #0808085b;
        perspective: 1000px; 
      }
      
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
      
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      .flip-card-front {
        background-color: #bbb;
        color: black;
      }
      
      .flip-card-back {
        background-color: dodgerblue;
        color: white;
        transform: rotateY(180deg);
      }

      body {
      font-family: 'Lato', sans-serif;
      }

      .overlay {
      height: 0%;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0, 0.9);
      overflow-y: hidden;
      transition: 0.5s;
      }

      .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
      outline: 2px solid rgb(255, 251, 251);
      width: 300px;
      height: 400px;
      margin:0 auto;
      }

      .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;
      }

      .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
      }

      .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
      }

      @media screen and (max-height: 450px) {
      .overlay {overflow-y: auto;}
      .overlay a {font-size: 20px}
      .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
      }
      }
      
      .div1{
          outline: 2px solid rgb(255, 251, 251);
          width: 150px;
          height: 35px;
          margin:0 auto;
      }

      .body2 {
          background: url(my-image.jpg);
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-attachment: fixed;
          background: linear-gradient(90deg, #b9deed, #efefef);
      }

      .imgleft {
          float: left;
          margin-left: 20px;
      }
    </style>
</head>
<body class="body2">
        <div id="header">
            <h1>
                <a href='/' id='atop'>Lili</a>
                Как простить Драко Малфоя (СИ)
            </h1>
        </div>
        <div class="">
            <p>
                {% if flag %}
                    <div>
                        <table style="outline: 2px solid rgb(160, 157, 157); width: 100px; height: 100px; float: right; box-shadow: 0.2em 0.2em 14px rgba(0, 0, 0, 0.5); margin-right: 10px;">
                            <tr>
                                <td style="border-spacing: 20px; vertical-align:top;" >
                                    <p align="center" > 
                                        <div id="myNav" class="overlay">
                                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                            <div class="overlay-content">
                                                <div class="">
                                                    <p> 
                                                        {% if men %}
                                                            <span style="font-size:30px;cursor:pointer" onclick="openNav()"><img src = "static/img/img_avatar.png " alt = "Аватар" style="border-radius: 50%; width: 150px;"></span>
                                                        {% elif men == None %}
                                                            <span style="font-size:30px;cursor:pointer" onclick="openNav()"><img src = "static/img/img_avatar3.png " alt = "Аватар" style="border-radius: 50%; width: 150px;"></span>
                                                        {% else %}
                                                            <span style="font-size:30px;cursor:pointer" onclick="openNav()"><img src = "static/img/img_avatar2.png " alt = "Аватар" style="border-radius: 50%; width: 150px;"></span>
                                                        {% endif %}
                                                    </p>
                                                    {% if men %}
                                                        <p style="color: rgb(255, 255, 255);">Теперь ты в наших кругах, брат.</p>
                                                    {% elif men == None %}
                                                        <p style="color: rgb(255, 255, 255);">Парень или девочка?</p>
                                                        <div class="div1"><a href="girl" style="color: white; font-size: 20px;">Да, я девочка!</a></div>
                                                        <p></p>
                                                        <div class="div1" style="width: 180px;"><a href="men" style="color: white; font-size: 20px;">Ты что, я мужик!</a></div>
                                                    {% else %}
                                                        <p style="color: rgb(255, 255, 255);">Теперь ты в наших кругах, сестра.</p>
                                                    {% endif %}
                                                    <p></p>
                                                    <p style="color: rgb(255, 255, 255);"><a href="delete_log">Выйти</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        {% if men %}
                                            <span style="font-size:30px;cursor:pointer" onclick="openNav()"><img src = "static/img/img_avatar.png " alt = "Аватар" class="shadow-4" style="border-radius: 50%; float: right; width: 70px; margin-right: 10px; margin-top: 1px;"></span>
                                        {% elif men == None %}
                                        <span style="font-size:30px;cursor:pointer" onclick="openNav()"><img src = "static/img/img_avatar3.png " alt = "Аватар" class="shadow-4" style="border-radius: 50%; float: right; width: 70px; margin-right: 10px; margin-top: 1px;"></span>
                                        {% else %}
                                            <span style="font-size:30px;cursor:pointer" onclick="openNav()"><img src = "static/img/img_avatar2.png " alt = "Аватар" class="shadow-4" style="border-radius: 50%; float: right; width: 70px; margin-right: 10px; margin-top: 1px;"></span>
                                        {% endif %}
                                        <script>
                                        function openNav() {
                                            document.getElementById("myNav").style.height = "100%";
                                        }
                                        
                                        function closeNav() {
                                            document.getElementById("myNav").style.height = "0%";
                                        }
                                        </script>
                                    </p>
                                </td>
                        
                                
                            </tr>
                            <tr>
                                <td style="vertical-align:bottom;">
                                    <p align="center" ><a href="delete_log" id="knopka" style="text-decoration: none;">Выйти</a></p>
                                </td>
                            </tr>
                        </table>

                    </div>
                {% endif %}
            </p>
        </div>
            <div style="height: 150px;">
                <ul id="navbar" style="height: 250px;">
                    {% if flag == False %}
                        <li><a href="login" class="ali">Войти</a></li>
                        <li><a href="register" class="ali">Регистрация</a></li>
                    {% endif %}
                    {% if flag %}
                        <li><a href="Lyshee" class="ali">Лучшее</a></li>
                        <li><a href="Contact" class="ali">Контакты</a></li>
                        <li><a href="O nas" class="ali">О нас</a></li>
                        {% if admi %}
                        <li><a href="Admin" class="ali">админ</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
                
            </div>   
    </div>
    <div class='imgleft'>
        <img style="outline: 4px solid rgb(143, 143, 143); box-shadow: 0.3em 0.6em 18px rgba(0, 0, 0, 0.5);" src="static/img/сам_издание.jpg">
    </div>
    <div>
        <h1 style="margin-left: 30%; width: 1000px; height: 60px; font-family:Lobster, cursive; Font-size:30px; font-size: 45px;"> Как простить Драко Малфоя (СИ) - часть 1</h1>
       <div style="margin:0 auto; margin-bottom: 40px; outline: 2px solid rgb(129, 129, 129); width: 1200px; height: 4850px;">
            <div style="margin: 20px;">
                <p>
                    <h3 style="font-size: 25px;">Specialhero </h3>
                    <h3 style="font-family:Lobster, cursive; font-size: 25px;"> Как простить Драко Малфоя (СИ)</h3>
                    <p id="p1">— Да ты с ума сошла! — воскликнула Джинни.</p>
                    <p id="p1">— Нет, Джинни. Я просто влюбилась, — спокойно ответила Гермиона.</p>
                    <p id="p1">— Нет. Нет. И нет! Я не могу в это поверить! — кричала миссис Поттер. — Я знаю, он тебя заколдовал.</p>
                    <p id="p1">— Это не так. Ни колдовства, ни зелий. Ни-че-го. Только чувства.</p>
                    <p id="p1">— Я сдам тебя в Мунго! Нет, я расскажу все Гарри и Рону, и они сдадут тебя в Мунго, а этого белобрысого змееныша прибьют.</p>
                    <p id="p1">И вот так уже пятнадцать минут. И все из-за того, что одна рыжая особа крайне не вовремя заглянула к ней в квартиру. Ну что здесь такого? Она просто целовалась с Драко. И все. Не воскрешала Волдеморта, не строила планов по захвату мира. Просто целовалась. Имела право, в конце-то концов, с Роном они давно расстались, она была свободной. Да, Малфой — бывший враг и бла-бла-бла, но когда это было?</p>
                    <p id="p1">Вот только друзьям о своем романе немного забыла рассказать. Ну хорошо, не немного и не забыла. Не смогла. Честно собиралась, уже полгода как собиралась. И месяц назад уже даже решилась. Но все как-то было не до того, не было подходящего случая. И чем дольше она откладывала, тем сложнее становилось признаться друзьям, что она по уши влюбилась в слизеринца, отравлявшего им всю школьную жизнь. И вот сегодня вечером он сделал ей предложение, которое она, конечно же, приняла. И еще даже не успела подумать, как скажет об этом друзьям, как в ее камине появилась Джинни и стала свидетельницей шокирующей для нее сцены — подруга в объятиях Малфоя, страстно с ним целующаяся к тому же. Пришлось быстренько проводить любимого и заняться тушением пожара под названием Джинни.</p>
                    <p id="p1">— Кофе? — предложила Гермиона.</p>
                    <p id="p1"> — Давай вино, чувствую, разговор будет долгим, — ответила подруга.</p>
                    <p id="p1">Пока Гермиона доставала бутылку вина и разливала его по бокалам, Джинни немного успокоилась и даже села в кресло, перестав метаться перед камином.</p>
                    <p id="p1">— И давно вы вместе? — наконец, спросила она.</p>
                    <p id="p1">— Полгода, может чуть больше.</p>
                    <p id="p1">— У вас все серьезно?</p>
                    <p id="p1">Вместо ответа Гермиона протянула руку с кольцом.</p>
                    <p id="p1">— Приехали, — только и смогла вымолвить Джинни и залпом осушила бокал.</p>
                    <p id="p1">Гермиона села на диван и посмотрела в глаза подруги. Что ж, так даже лучше.</p>

                    <p id="p1">“Объяснюсь с ней, с Гарри и Роном будет проще, если перед этим смогу привлечь Джинни на свою сторону”.</p>
                    <p id="p1">Конечно, ее личная жизнь только ее, но ей совсем не хотелось терять друзей. И она решилась. Как же долго она готовилась к этому разговору. Даже мысленно репетировала его, подбирала аргументы, но вот и настало время их озвучить.</p>
                    <p id="p1">— Я люблю его, и он любит меня. Надеюсь, ты сможешь принять это, — сказала Гермиона. В ее голосе не было ни вызова, ни оправданий, только констатация факта.</p>
                    <p id="p1">— Но он же наш враг! Бывший Пожиратель Смерти! Слизеринец, в конце концов! — снова начала заводиться Джинни.</p>
                    <p id="p1">— Это все в прошлом. Он изменился.</p>
                    <p id="p1">— Как вы вообще спелись? Ума не приложу, как такое возможно, — не унималась та.</p>
                    <p id="p1">— Мы больше года вместе работали над одним проектом и постепенно стали узнавать друг друга, а потом я поняла, что меня тянет к нему. Это было безумие, но я влюбилась. И все наши прошлые обиды и разногласия как-то стерлись, я сама такого не ожидала, но рада, что все так получилось, — Гермиона говорила и говорила, и ее глаза блестели особенным блеском, которого Джинни раньше не видела.</p>

                    <p id="p1">Она встала, разлила вино по бокалам и вернулась на диван.</p>
                    <p id="p1">— Если убрать эмоции и привычку ненавидеть его, что ты имеешь против? — спросила Гермиона.</p>
                    <p id="p1">Джинни растерялась. Нелюбовь к Малфою была настолько въевшейся привычкой, что посмотреть на него с другой точки зрения было очень сложно. Что она знала о Малфое? Что он высокомерная задница, бывший Пожиратель Смерти и просто невыносимый человек.</p>
                    <p id="p1">— Он Пожиратель Смерти, — Ддинни выбрала самый весомый аргумент.</p>
                    <p id="p1">— Бывший. Его оправдали. Не без помощи Гарри, кстати, — ответила Гермиона. — Снейп тоже был Пожирателем, но его ты плохим не считаешь.</p>
                    <p id="p1">— Это другое. Он был шпионом!</p>
                    <p id="p1">— Он был Пожирателем. Добровольно. Но потом перешел на сторону Дамблдора, смог измениться. Драко тоже смог.</p>
                    <p id="p1">— Но Драко не был шпионом.</p>
                    <p id="p1">— Он и убийцей не был. Его заставили принять Метку, у него не было выбора.</p>
                    <p id="p1">Джинни во все глаза смотрела на подругу и не могла поверить. И ЭТО говорит Гермиона! Героиня Войны. Не может быть!</p>

                    <p id="p1">— Он пытался убить Дамблдора! — еще один аргумент от миссис Поттер.</p>
                    <p id="p1">— Знаешь, — сказала Гермиона, — я долго думала об этом, мы обсуждали это с Драко, — от упоминания имени Малфоя Джинни скривилась. — Я понимаю твои чувства, но и ты пойми, что все не так просто, — Гермиона внимательно смотрела в глаза подруги. — Помнишь, в конце пятого курса, после битвы в Министерстве, Гарри узнал о Пророчестве? Вы наверняка обсуждали с ним это. Так вот, Гарри в свои почти шестнадцать лет, по сути, получил задание — победить самого сильного злого волшебника конца двадцатого века. Знаешь, как ему было страшно? — Джинни неуверенно кивнула. — Несовершеннолетнему мальчишке говорят, что он должен убить того, кого не может победить даже взрослый сильный маг!</p>
                    <p id="p1">— Не понимаю, к чему ты клонишь.</p>
                    <p id="p1">— А к тому, что Драко очутился в аналогичной ситуации.</p>
                    <p id="p1"> — Как это? — не поняла та.</p>
                    <p id="p1">— Очень просто. Волдеморт был ужасно зол из-за потери Пророчества. Все узнали, что он жив, да к тому же его Пожирателей арестовали и бросили в Азкабан. В том числе и Люциуса Малфоя. И Драко в те же шестнадцать лет получил аналогичное задание — убить величайшего волшебника из ныне живущих — Дамблдора. Это было изощренное наказание от Волдеморта Люциуса Малфоя — дать невыполнимое задание мальчишке, не способному на убийство. И не просто поручить уничтожить Дамблдора, а под угрозой смерти семьи Драко.</p>
                    <p id="p1">Джинни, пораженная словами Гермионы, сидела и смотрела, не зная, что ответить.</p>

                    <p id="p1">— Как видишь, — продолжила Гермиона, — сторона другая, но ситуация очень похожая. Драко, как и Гарри, был до смерти напуган таким положением вещей. Он не хотел этого. Но у него не было выбора, — тихий, но уверенный голос произвёл на Джинни должное впечатление. — Вспомни наш с Гарри шестой курс, ты же близко общалась с нами и видела, как Гарри был помешан на идее, что Драко — Пожиратель Смерти. Мы тогда наблюдали за ним, он был враг, и мы видели только плохое. Но позже, думая и вспоминая этот учебный год, я увидела перепуганного мальчишку, попавшего в страшные обстоятельства. Я вспомнила, какой он ходил бледный, погруженный в себя, похожий на свою тень.</p>
                    <p id="p1">— Он чуть не убил Рона и Кэти Белл!</p>
                    <p id="p1">— Да, и он сожалеет об этом. Он раскаялся в том, что был слишком слаб и труслив, чтобы отказаться от задания. Он не мог этого сделать. И знаешь, какая мысль не дает мне покоя?</p>
                    <p id="p1"> — И какая же? — Джинни сидела, уставившись в свой бокал.</p>
                    <p id="p1"> — Почему Дамблдор не вмешался?</p>
                    <p id="p1">Подруга подняла удивленные глаза на Гермиону. А та продолжила:</p>
                    <p id="p1">— Помнишь, Гарри говорил, что в Омуте памяти, когда он просматривал воспоминания Снейпа, директор просил Северуса убить его?</p>

                    <p id="p1">— Да, и что? — Джинни не поняла, к чему она клонит.</p>
                    <p id="p1">— Получается, что весь тот учебный год Дамблдор знал о задании Малфоя. Знал, что по замку ходит перепуганный неопытный подросток, которому поручили такое, и ничего не сделал! Он не предотвратил попыток Драко, не помешал ему, — от волнения Гермиона встала и заходила по комнате. — Я спрашивала Малфоя, почему он сам не пошел к Дамблдору за помощью. Он сказал, что панически боялся, что Волдеморт залезет к нему в голову и узнает об этом. А это верная смерть ему и его родителям. Но тот факт, что директор все знал и ничего не сделал, просто бесит меня.</p>
                    <p id="p1">— А знаешь, ты права. Я никогда не думала об этом с такой точки зрения. — Джинни аккуратно поставила бокал на столик и встала. — Я не могу вот так сразу поменять свое отношение к Малфою и понять его, но насчет Дамблдора ты абсолютно права. И его вина в том, что Рон и Кэти чуть не погибли, точно есть.</p>
                    <p id="p1">— Рада, что ты меня поняла. Мы много говорили с Драко об этом. Он очень долго шел к тому, чтобы довериться мне. Ты не представляешь, как сильно он переживал из-за тех событий, — Гермиона взяла Джинни за руку и усадила на диван. — Он рассказал о том, как ужасно было жить с Волдемортом в Малфой-мэноре. Его до сих пор мучают кошмары. То, что он там пережил, перевернуло его внутренний мир. Волдеморт выжег из него все представления о превосходстве чистокровных, Драко видел такой ужас, что больше ни за что не хочет иметь дело ни с чем подобным. Не только нашей стороне досталось, дети Пожирателей — такие же жертвы той войны.</p>
                    <p id="p1" align="center"> 1</p>
                    <p align="center" id="p1"><a id="knopka" href="Как_простить_Драко_Малфоя2">страница 2</a></p>
                </p>
            </div>  
        </div>
    </div>
</body>
</html>